@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont1';
    src: url('../fonts/Coolvetica Rg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: MyCustomFont1;
    overflow-x: hidden;
}

nav {
    display: grid;
    height: 70px;
    background-image: linear-gradient(to bottom, #277bfb 0%, #0259de 40%, #093fb4 100%);
    grid-template-columns: auto fit-content(200px) auto;
    border-radius: 0px 0px 0px 0px;

}

nav.wrapper {
    padding: 0 !important;
}

li a {
    text-decoration: none;
    height: 100%;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 30px 0px 30px 0px;
    transition: all ease 0.5s;
    color: #DCDCDC !important;
}

li a:hover {
    background-color: #DCDCDC;
    color: #0259DE !important;
    font-size: 30px;
    box-shadow: 0px 0px 10PX #DCDCDC !important;
    border-radius: 30px 0px 30px 0px;
}

li.button-only a:hover {
    color: #DCDCDC !important;
    font-size: 27px;
}

li.button-only a:hover .wrapper {
    background-color: black;
}


.btn-grad {
    background-image: linear-gradient(to right, #e25f07 0%, #ff954e 40%, #f9a931 100%)
}

.btn-grad {
    margin: 10px;
    padding: 5px 35px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #DCDCDC !important;
    box-shadow: 0 0 20px #0259DE !important;
    border-radius: 30px 0px 30px 0px;
    display: inline;
}

.btn-grad:hover {
    background-position: right center;
    color: #0259DE;
    text-decoration: none;
    box-shadow: 0px 0px 10PX #f9a931 !important;
}



.brand {
    display: flex;
    justify-content: center;
}

.brand .logo {
    max-width: 180px;
    height: 100px;
    padding: 0px 30px 10px;
    margin-top: -7px;
    border-radius: 20px 20px 20px 20px;
    background: #fff;
}

ul.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    height: 70px !important;
}

ul.navigation li {
    flex-grow: 1;
    text-align: center;
}

.text-running {
    display: flex;
    align-items: center;
    background-color: #dcdcdc;
    margin-top: 10px;
    font-size: 17px;
    backdrop-filter: blur(4px);
    overflow: hidden;
}

.text-running span {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    padding: 8px 30px;
    padding-left: 16px;
    color: #DCDCDC;
    border-radius: 0px 0px 0px 0px;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    background: linear-gradient(135deg, #e25f07, #f9a931);
}
.armada-banner {
  position: relative;
  width: 100%;
  height: 220px;
  background-image: linear-gradient(to right, #0259de 0%, #0259de 50%, #093fb4 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.armada-banner h1 {
  color: #fff;
  font-size: 63px;
  z-index: 2;
}


.banner-image {
  position: absolute;
  right: -100px;
  top: 0;
  height: 100%;
}

.banner-image img {
  height: 100%;
  object-fit: cover;
}


.banner-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background: linear-gradient(to right, #0259de,  transparent);
  z-index: 1;
}
.footer {
    background-color: #093fb4;
    color: #333;
    margin-top: -35px;
}


.footer-top {
    display: flex;                 
    justify-content: space-between;
    align-items: flex-start;      
    gap: 80px;
    padding: 60px 40px 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-left {
    max-width: 600px;
    text-align: left;
    transform: translateX(-80px);
}

.footer-left h2 {
    color: #DCDCDC;
    font-size: 34px;
    margin-bottom: 15px;
}
.footer-left p {
    font-size: 15px;
    line-height: 1.7;
    color: #dcdcdc;
}

.footer-right {
    margin-left: auto;   
    text-align: left;
}

.footer-right h3 {
    margin-top: 0;   
    color: #DCDCDC;
    margin-bottom: 20px;
}


.footer-top h2 {
    color: #dcdcdc;
    font-size: 34px;
    margin-bottom: 25px;
}

.footer-top p {
    font-size: 15px;
    line-height: 1.7;
}
.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    display: flex;
    align-items: flex-start; 
    gap: 10px;
    line-height: 1.6;
    color: #dcdcdc;
}
.contact-list li:hover {
    color: #f9a931;
}
.contact-list i {
    font-size: 18px;
    margin-top: 5px; 
    text-align: center;
}

.footer-bottom {
    border-top: 1px solid #dcdcdc;
    background-color: #DCDCDC;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}


.footer-menu a {
    color: #333;
    margin-left: 20px;
    text-decoration: none;
}

.footer-menu a:hover {
    color: #0259DE;
}
.branch-section {
    max-width: 1500px;
    margin: 150px auto;
    padding: 0 30px;
}

.company-desc {
    font-size: 20px;
    line-height: 1.8;
    margin-top: -80px;
    color: #333;
    text-align: center;
}

.branch-title {
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 60px;
    margin-top: 80px;
    text-align: center;
    position: relative;
    color: #DCDCDC;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, #277bfb 0%, #0259de 40%, #093fb4 100%);
    display: flex;
    align-items: center;
    border-radius: 70px 70px 10px 10px;
    justify-content: center;
    overflow: hidden;
}

/* GRID */
.branch-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.branch-card {
    display: flex;
    background: #fdf1f1;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 20px;
}
.branch-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 35px solid #0259DE
}

.branch-card:hover img {
    transform: scale(1.08);
}

/* IMAGE */
.branch-card img {
    width: 38%;
    object-fit: cover;
    margin-top: 40px;
}

/* CONTENT */
.branch-content {
    padding: 25px 30px;
    margin-top: 20px;
}

.branch-content h3 {
    color: #0259DE;
    font-size: 20px;
    margin-bottom: 10px;
}

.branch-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 8px;
}

.branch-content span {
    color: #0259DE;
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .branch-grid {
        grid-template-columns: 1fr;
    }

    .branch-card {
        flex-direction: column;
    }

    .branch-card img {
        width: 100%;
        height: 220px;
    }
}

#preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.98);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            transition: opacity 0.5s ease, visibility 1.0s ease;
        }

        #preloader.hidden {
            opacity: 0;
            visibility: hidden;
        }

        .loader-gif {
            width: 750px;
            height: auto;
            margin-bottom: 15px;
        }

        @keyframes pulse {
            0%, 100% { opacity: 1; }
            50% { opacity: 0.5; }
        }